* {
    box-sizing:border;
    clear:left;
}

body {
    font-family: "Hiragino Kaku Gothic ProN";
}

.header img {
    width:30%;
    height:80%;
    opacity: 0.5;
    padding:20px 10px;
}
  
.header {
    background-color: #d7f7f7;
    height:160px;
}

h1 {
    padding:0px 20px 24px 240px;
    margin-top:-120px;
    font-size:32px;
    border-bottom:3px solid #ffffff
}

.main {
    display:flex;
    flex-wrap:wrap;
    max-width:1170px;
    height:1500px;
    text-align: center;
    margin:0 auto;
}

.main-contents {
    width:50%;
}


.contents-icon img {
    padding:20px;
    width:380px;
    flex:auto;
}

.contents-icon p {
    font-size: 24px;
    color:coral;
    margin-bottom:40px;
}

.footer {
    background-color: rgb(223, 231, 202);
    font:#fff;
    height:200px;
    text-align:center;

}

.footer-contents h3{
    font-size:24px;
    padding:20px;
    margin-bottom:30px;
    border-radius: 12px;
    
}

.footer-contents {
    border: 2px;
}

.footer-contents a {
    text-decoration: none;

}
